body {

    /* margin: 10px 10px 50px 10px; */
    background: #f5f5f5;

    font-family: Impact, Charcoal, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

h1 {
    font-family: Helvetica;
    color: #0e1f4b;
    letter-spacing: -0.6px;
    word-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00f7ff;
    text-align: center
}

#Cedula {
    color: blue;
}

.container {
    text-align: center;
    background-color: #bcd2de;
    padding: 10px;
}

.card {
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.tarjetaImg {
    background-color: #bcd2de;
    border: #bcd2de;
}

nav {
    background-color: darkcyan;
}


img {
    -webkit-border-radius: 31px;
    border-radius: 31px;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.imgCarrusel {
    width: 350px;
    height: 350px;
    border-radius: 0;
}

ul {
    display: inline-block;
}

.navbar {
    background-color: #73c2c2;
}

#cabecera {
    background: url(./../img/fondo-header.png) no-repeat 100%;
    background-color: #ffffff;
    height: 250px;
}



/* 
div {
    text-align: center;
}

.Contenedor {

    background-color: #FFF;
    height: 180px;
    padding: 3%;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 17px;
}

.Titulo-Contenedor {
    text-transform: uppercase;
    font-size: 25px;
}

#IconWhats {
    width: 20px;
}

table.minimalistBlack {
    border: 3px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.minimalistBlack td,
table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 13px;
}

table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

table.minimalistBlack tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}

table.minimalistBlack tfoot td {
    font-size: 14px;
}

table,
th,
td {
    border: 2px solid #000000;
    border-collapse: collapse;
    text-align: center;
}

input {
    text-align: center;
    border: 1px solid #000000;
    border-radius: 40px;
}

form {
    color: rgb(29, 197, 166);
    text-shadow: 3px 2px 12px rgba(0, 0, 0, 0.55);
    font-size: xx-large;
}


label {
    color: rgb(17, 107, 91);
}

.contenedor_cita {
    display: flex;
    justify-content: center;
    font-size: medium;
    align-items: center;
    min-height: 100vh;
    Para centrar verticalmente también
}

fieldset {
    text-align: right;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 17px;

}

legend {
    text-align: left;
}

select {
    border: 1px solid #000000;
    border-radius: 40px;
} */