body {

    margin: 0;

    background: #FFF1CF;
    background: -moz-linear-gradient(top, #FFF1CF 0%, #FBFFEB 57%, #FFF1CF 100%);
    background: -webkit-linear-gradient(top, #FFF1CF 0%, #FBFFEB 57%, #FFF1CF 100%);
    background: linear-gradient(to bottom, #FFF1CF 0%, #FBFFEB 57%, #FFF1CF 100%);

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #5B4526;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

#Cedula {
    color: blue;
}

img {
    -webkit-border-radius: 31px;
    border-radius: 31px;
    width: 350px;
}

h1,
h2,
h3 {
    color: rgb(29, 197, 166);
}

div {
    text-align: center;
}

.Contenedor {

    background-color: #FFF1CF;
    height: 180px;
    padding: 10px;
}

.Titulo-Contenedor {
    text-transform: uppercase;
    font-size: 25px;
}