body {

    /* margin: 10px 10px 50px 10px; */
    background: url(../img/fondo-general.png) fixed no-repeat center center;
    background-size: cover;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

#cabecera h1 {
    font-family: 'Zilla Slab', serif;
    text-align: center;
    background: url(./../img/fondo-header.png) no-repeat 100%;
    background-color: #ffffff;
    height: 50px;
}

h1 {
    font-family: Helvetica;
    color: #0e1f4b;
    letter-spacing: -0.6px;
    word-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00f7ff;
    text-align: center
}

#Cedula {
    color: blue;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
}

.card {
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.tarjetaImg {
    background-color: #bcd2de;
    border: #bcd2de;
}

nav {
    background-color: darkcyan;
}


img {
    -webkit-border-radius: 31px;
    border-radius: 31px;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #6e6e6e;
    box-shadow: 5px 5px 15px 5px #808080;
}

.imgCarrusel {
    width: 350px;
    height: 350px;
    border-radius: 0;
}

ul {
    display: inline-block;
}

.navbar {
    background-color: #73c2c2;
}

#cabecera {
    font-family: 'Zilla Slab', serif;
    text-align: center;
    background: url(./../img/fondo-header.png) no-repeat 100%;
    background-color: #ffffff;
    height: 50px;
}

#logo {
    width: 50px;
    border-radius: 0;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#carouselExampleCaptions {
    padding: 0;
}

.transparente {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(7px);
}

.formulario {
    width: 400px;
    margin-top: 150px;
    padding: 10px;
}

label {
    font-size: 20px;
}

input {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(7px);
}

select {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(7px);
}

::placeholder {
    color: #8b8b8b;
}

fieldset {
    position: relative;
    border: #000000 solid 1px;
    border-radius: 5px;
    padding: 10px;
}

#whats {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 75px;
    -webkit-box-shadow: 0px 0px 0px 0px #6e6e6e;
    box-shadow: 0px 0px 0px 0px #808080;
}

#sin-borde {
    padding: 0 0 0 0;
    border-radius: 15px;
}